h1 {
    text-align: center;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

/*Formularios*/
.form {
    margin-bottom: 20px;
}

.form input[type="text"],
.form button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    font-size: 16px;
}

.form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.form button:hover {
    background-color: #0056b3;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

/*Divider*/
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.divider {
    width: 300px;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.divider h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

.divider p {
    margin: 5px 0;
}