<div>
    <h2>Agrega tus Productos</h2>
    <div>
        <p>Título</p>
        <input type="text" id="txtTitleCreate">
        <p>Descripción</p>
        <input type="text" id="txtDescriptionCreate">
        <p>Precio</p>
        <input type="text" id="txtPriceCreate">
        <p>Stock</p>
        <input type="text" id="txtStockCreate">
        <p>Categoría</p>
        <input type="text" id="txtCategoryCreate">
        <p>Thumbnail</p>
        <input type="text" id="txtThumbnailCreate">
        <button id="btnAgregar"> ADD </button>
    </div>
    <div>
        <p>ID</p>
        <h2>Actualiza tus Productos</h2>
        <div>
            <input type="text" id="txtIDUpdate">
            <p>Título</p>
            <input type="text" id="txtTitleUpdate">
            <p>Descripción</p>
            <input type="text" id="txtDescriptionUpdate">
            <p>Precio</p>
            <input type="text" id="txtpriceUpdate">
            <p>Stock</p>
            <input type="text" id="txtstockUpdate">
            <p>Categoria</p>
            <input type="text" id="txtcategoryUpdate">
            <p>Thumbnail</p>
            <input type="text" id="txtthumbnailUpdate">
            <button id="btnUpdate"> Actualizaar </button>
        </div>
        <h2>Eliminar tus productos</h2>
        <div>
            <p>ID</p>
            <input type="text" id="txtIDDelete">
            <button id="btnDelete"> Eliminar/Borrar </button>
        </div>
    </div>
</div>

<script src="/js/adminProducts.js"></script>
<script src="/js/auntAdmin.js"></script>