<div>
    <h2> Recuperar Contraseña</h2>
    <div id="error_handler" style="color:blue"></div>
    <div>
        <p> Ingrese su Correo</p>
        <input type="text" id="txtCorreo">
        <button id="btnNewpass"> Solicitar Cambio de Contraseña </button>
    </div>
</div>

<script src="/js/validator.js"></script>