<div>
    <h2>Cambio de Contraseña</h2>
    <div id="error_handler" style="color:blue"></div>
    <div>
        <p> Nueva Contraseña</p>
        <input type="password" id="txtPassword">
        <button id="btnNewpass"> Cambio de Contraseña </button>
    </div>
</div>
<script src="/js/updatePassword.js"></script>