{{!-- <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<div id="userTemplate"></div>
<script id="template" type="text/x-handlebars-template">
    <h1>Perfil de: {{name}}</h1>
    <p>Tu Email es: {{email}} </p> 
    <p>Tu Edad es: {{age}} </p> 
    <p>Rol: {{role}} </p>     
</script> --}}

<div id="midiv"></div>
<script src="/js/users.js"></script>

{{!-- 
Hay problema al momento de cargar la información en handlebars, al momento que se solicita la información dentro de el
y mostrarlo en consola no muestra las etiquetas de handlebars provocando que al momento de insertar la data del usuario 
este no cargue como corresponde, sin embargo se empleo otro método para cargar la información.
(la informacion que se solicita en el fetch se trae correctamente) 
--}}