<div id="header"> <a href="/products"> Productos</a> <a id="enlace" href=""> Carrito</a> <button id="shutdownSession"> Cerrar Sesion</button> </div>

<div id="midiv"></div>
<script src="/js/users.js"></script>